<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>

<div class="menu">

    <div class="card">

        <h1>📦 Sistema de Inventario</h1>

        <p>Bienvenido al sistema.</p>

        <br>

        <a href="/buscar">
            <button>🔍 Buscar Productos</button>
        </a>

        <br><br>

        <a href="/logout">
            <button>🚪 Cerrar Sesión</button>
        </a>

    </div>

</div>

</body>
</html>